.features {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px
    }
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
 @media screen and (min-width: 1200px){
  flex-wrap: nowrap;
}  
}

.features-list__link {
width: 100%;
@media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
     }
 @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
     }
}

.features-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-icon {
    display: block;
    align-items: center;
    justify-content: center;
}

.features-list__title {
    font-weight: 700;
    font-style: 14px;
    line-height: 1.143;
    letter-spacing:0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 767px){
        text-align: center;
    }
}

.features-list__text {
font-weight: 400;
font-style: 14px;
line-height: 1.174;
letter-spacing: 0.03em;

color: #757575;
}
