.footer-left{
  margin-bottom: 60px;
  @media screen and (max-width: 1199px){
    text-align: center;
  } 
}

.footer-contacts {
  @media screen and (min-width: 1200px){
    margin-right: 70px;
  }
}

  .footer-contacts__address {
    margin-bottom: 9px;
  }
  
  .footer-contacts__mail {
    margin-bottom: 9px;
  }
  
  .footer-contacts__address,
  .footer-contacts__mail,
  .footer-contacts__tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--main-text-color);
    width: 100%;

    @media screen and (min-width: 1200px){
      width: 231px;
    }
  }
  
  .footer-contacts__mail,
  .footer-contacts__tel {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }