.footer {
    padding-top: 60px;
   
    background-color: #2f303a;
    margin-left: auto;
    margin-right: 0;
    @media screen and (max-width: 1199px){
      text-align: center;
      padding-bottom: 60px;
    }

  }

  .footer-common{
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }

  .footer-tablet{
    margin-bottom: 60px;
    @media screen and (min-width: 768px){
      display: flex;
      margin-left: auto;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
       margin-bottom: 0;   
    }
  
  }
  
  .footer-page{
    margin-bottom: 20px;
  }
  

 
  
  
   
  