.images {
    padding-bottom: 94px;
  }
  
  .images__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  
  .images__link {
    width: 370px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
  
  .images__list {
    display: flex;
  }
  
  .images__img{
    position: relative;
    display: block;
    line-height: 0;
  }
  
  .images__text{
    position: absolute;
    height: 70px;
    width:100%;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
  
    padding-top: 27px;
    padding-bottom: 27px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--main-text-color);
  }