.logo{
    padding-top: 25px;
    padding-bottom: 25px;

  
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    // @media screen and (min-width: 768px){
    //   margin-right: 88px;
    // }
    
    @media screen and (min-width: 1200px){
      margin-right: 94px;
    }
  }

  .logo__header--dark{
    color:black;
    @media screen and (min-width: 768px){
      margin-right: 88px;
    }
  }
 
  .logo__footer--light{
    color: #ffffff; 
    // @media screen and (min-width: 768px){
    //   margin-right: 88px;
    // }

  }
  