.logo{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 94px;
  
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }

  .logo__header--dark{
    color:black;
  }
 
  .logo__footer--light{
    color: #ffffff; 
  }
  