.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  
  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  
  .team-list {
    display: flex;
    gap: 30px;
  }
  
  .team-list__item {
    width: calc((100% - 60px) / 3);
  }
  
  .team-list__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-list__item,
  .team-description__person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  
  .team-description {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--main-text-color);
  }
  
  .team-description__person {
    margin-bottom: 10px;
  }
  
  .team-description__process {
    margin-bottom: 16px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .team-soc-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-text-color);
    display: block;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: var(--transition);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
    }
  }
  
  .team-soc-list__icon {
    fill: #afb1b8;
    transition: var(--transition);

    .team-soc-list__link:hover &,
    .team-soc-list__link:focus &{
      fill: #ffffff;
    }
  }
  
  
  

  